
.wrapper {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #B2C1FD;
}

.inner {
    margin: 30px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
}
.logo {
    display: flex;
    align-items: center;
    height: 80px;
    width: 80px;
    justify-content: center;
    &:hover {
        cursor: pointer;
    }
}
.login-container {
    background-color: #647FEA;
    padding: 2rem;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, p {
    text-align: left;
    width: 100%;
    padding: 10px;
}

button {
    font-size: 16px;
    width: 100%;
    padding: 0.8rem;
    cursor: pointer;
    margin: 1rem 0;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
        opacity: 0.9;
    }
}

.google-btn {
    background-color: #CEBABA;
    color: white;
    border: 1px solid #000;
    border-radius: 50px;
    align-items: center;
    margin-bottom: 2rem;
    
}
.google-btn .fa-google {
    margin-right: 10px;
}
.login-btn {
    background-color: #EB6581;
    color: white;
    border: 1px solid #000;
    border-radius: 10px;
}
.input-field {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #1a1818;
    border-radius: 5px;
    margin: 1rem 0;
    background-color: #f7f7f7;
    font-size: 1,2rem;
    transition: border-color 0.3s ease;

    &:focus {
        border-color: #8ab6f8;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
}

.forgot-password {
    display: block;
    margin-bottom: 1.5rem;
    color: #8ab6f8;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
.sign-up {
    text-align: center;
}
a {
    color: #8ab6f8;

    &:hover {
        text-decoration: underline;
    }
}