.wrapper {
    position: relative;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #cdd3ee;
}

.inner {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.image-road {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.road1 {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    transform: rotate(360deg);
}

.road2 {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: auto;
    margin-top: 200px;
}
.logo {
    display: flex;
    align-items: center;
    height: 80px;
    width: 80px;
    justify-content: center;
    &:hover {
        cursor: pointer;
    }
}
.login-container {
    position: relative;
    z-index: 3;
    //647FEA
    background-color: #B2C1FD;
    padding: 2rem;
    // border: 1px solid #410079;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(87, 62, 229, 0.4) ;
    width: 86vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sign-up-title {
        color: #030303;
        text-shadow: 
        0 2px 5px rgba(0, 0, 0, 0.3); 
    }
    .sign-up-title, .sign-up-description {
        text-align: left;
        width: 100%;
    }
    .sign-up-description {
        padding: 8px 8px 8px 0;
    }
}

button {
    font-size: 16px;
    width: 100%;
    padding: 0.8rem;
    cursor: pointer;
    // margin: 1rem 0;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
        opacity: 0.9;
    }
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eef8ff;
    color: rgb(10, 10, 10);
    border: 1.2px solid #007bff;
    border-radius: 50px;
    align-items: center;
    margin-bottom: 2rem;
    .google-logo {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    &:hover {
        background-color: #d0e9ff;
        cursor: pointer;
        transform: translateY(-2px);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    }
    &:active {
        background-color: #b0d4ff;
        transform: translateY(0);
    }
}

.divider {
    display: flex;
    align-items: center;
    width: 100%; /* Chiều rộng dòng */
    margin: 8px 0; /* Khoảng cách trên dưới */

    &::before,
    &::after {
        content: "";
        flex: 1;
        height: 1px;
        background-color: rgba(83, 10, 167, 0.2); 
    }
}

.divider-text {
    margin: 0 12px; 
    color: #171212; /* Màu chữ */
    font-size: 12px;
    white-space: nowrap;
}

.sign-btn {
    background-color: #6f69fd;
    color: white;
    // border: 1px solid #000;
    border-radius: 5px;
    margin-top: 2rem;
    &:hover {
        background-color: #4346eb;
        cursor: pointer;
        transform: translateY(-2px);
        box-shadow: 0 6px 16px rgba(104, 12, 12, 0.15);
    }
    &:active {
        background-color: #3E3C8E;
        transform: translateY(0);
    }
}

.input-field {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid rgba(51, 0, 110, 0.5);
    border-radius: 5px;
    margin: 0.8rem 0;
    background-color: #f7f7f7;
    font-size: 1.5rem;
    transition: border-color 0.3s ease;

    &:focus {
        border-color: #8ab6f8;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
    }
}

.log-in {
    text-align: center;
    width: 100%;
    padding: 10px;
}
.log-in-link{
    text-decoration: underline !important;
    color: #333;
    font-weight: bold;

    &:hover {
      color: rgb(66, 4, 167);;
    }
}
  

.form-group {
    width: 100%;
    position: relative;
    margin-bottom: 1.2rem;

    &.invalid {
        .input-field {
            border-color: #f33a58;
        }

        .error-message {
            display: block;
            color: #980303;
            font-weight: 500;
            font-size: 1.2rem;
            position: absolute;
            left: 0;
        }
    }
}

.error-message {
    display: none;
}
