.wrapper {
    background-color: white;
}

.page-title {
    margin: 5px 0 0 10px;
    font-size: 1.8rem;
    text-decoration: underline;
    text-decoration-color: rgb(145, 145, 145);
    text-decoration-thickness: 2px;
    padding: 5px 10px;
}

.container {
    display: flex;
    flex-wrap: wrap
}