.wrapper {
    position: relative;
    min-height: 100vh;
    padding: 20px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    background-color: #647FEA;
    box-shadow: rgb(0 0 0 /12%) 0px 2px 12px;
    overflow: hidden;
}

.inner {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    max-width: 1600px;
    width: 86%;
    height: auto;
    gap: 20px;

    @media (min-width: 768px) {
        flex-direction: row; 
    }
}

.main-title,
.main-description{
    color: white;
}

.main-title {
    font-size: 2rem; 
    margin-bottom: 15px;
    font-weight: 600;

    @media (min-width: 768px) {
        font-size: 3rem; 
        font-weight: 600;
    }
}

.main-description {
    margin-bottom: 30px;
    font-weight: 400;
}

.main-description {
    font-size: 1.2rem;

    @media (min-width: 768px) {
        font-size: 1.8rem;
    }
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (min-width: 768px) {
        flex-direction: row;
        gap: 20px;
    }
}

.learn-more,
.sign-up {
    font-size: 1.2rem;

    @media (min-width: 768px) {
        font-size: 2.4rem;
    }
}

.learn-more, .sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    color: #ffffff;

    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.learn-more {
    background-color: #EB6581; 
    border-radius: 8px;
    &:hover {
        background-color: #d25260; 
        cursor: pointer;
        transform: translateY(-2px); 
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15); 
    }
    &:active {
        background-color: #d25260;
        transform: translateY(0); 
    }
   
}
.sign-up {
    font-weight: bold;
    background-color: transparent; 
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    &:hover {
        background-color: #ffffff; 
        color: #647FEA;
        cursor: pointer;
        transform: translateY(-2px); 
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15); 
    }
    &:active {
        background-color: #d2969d;
        transform: translateY(0); 
    }
    
}

.left  {
    margin-right: 30px;
    padding-bottom: 10rem;
}
.left,
.right {
    flex: 1;
    width: 100%;
    margin-bottom: 20px; 

    @media (min-width: 768px) {
        width: auto; 
        margin-bottom: 0;
    }
}

.right {
    @media (max-width: 768px) {
        margin-bottom: 0;
        max-width: 100%; 
        margin-right: 50px;
    }
}

.image-container img {
    display: block;
    height: auto;
    max-width: 100%;
}

.image1 {
    margin-left: 300px;
    width: 250px; 
    height: auto; 
    margin-bottom: 50px;

    @media (max-width: 768px) {
        margin-left: 280px;
        width: 240px; 
        height: auto; 
        margin-bottom: 50px;
    }
}

.image2 {
    margin-top: -120px;
    width: 250px; 
    height: auto; 

    @media (max-width: 768px) {
        margin-top: -110px;
        width: 240px; 
        height: auto; 
    }
  }
  
.image3 {
    margin-top: -70px;
    margin-left: 280px;
    width: 240px; 
    height: auto; 
    
    @media (max-width: 768px) {
        margin-top: -60px;
        margin-left: 270px;
        width: 230px; 
        height: auto; 
    }
}
