.wrapper {
    display: flex;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #6c6c6c;
    height: 60px;
}

.roadmap {
    display: flex;
    width: 20%;
    border-right: 1px solid #6c6c6c;
    height: 100%;
    align-items: center;
}

.roadmap-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
    cursor: pointer;
}

.roadmap-name,
.roadmap-avatar,
.sender {
    cursor: pointer;
}

.roadmap-name,
.sender {
    font-weight: 500;
    font-size: 1.5rem;
    align-self: center;
    padding-left: 5px;

    &:hover {
        color: var(--main-color);
    }
}

.sender {
    height: 100%;
    width: 15%;
    text-align: center;
    border-right: 1px solid #6c6c6c;
    justify-content: center;
    align-items: center;
    display: flex;
}

.date {
    height: 100%;
    font-weight: 400;
    font-size: 1.5rem;
    align-self: center;
    padding-left: 5px;
    text-align: center;
    width: 15%;
    border-right: 1px solid #6c6c6c;
    justify-content: center;
    align-items: center;
    display: flex;
}

.descrip-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.description {
    font-weight: 400;
    font-size: 1.5rem;
    align-self: center;
    padding: 5px;
}

.report-response {
    display: flex;
}

.confirm,
.deny {
    width: 17px;
    height: 17px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 7px;
    align-self: center;
    cursor: pointer;
}

.confirm {
    border: 3px solid #069b15;
    color: #069b15;

    &:active {
        color: white;
        background-color: #069b15;
    }
}

.deny {
    border: 3px solid #8a0909;
    color: #8a0909;

    &:active {
        color: white;
        background-color: #cd0202;
    }
}
