.wrapper {
    background-color: white;
    display: flex;
}

.timeline-section {
    width: 100%;
}

.page-title {
    margin: 5px 0 0 10px;
    font-size: 1.8rem;
    text-decoration: underline;
    text-decoration-color: rgb(145, 145, 145);
    text-decoration-thickness: 2px;
    padding: 5px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content {
    margin: 0 15px;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s ease;
    text-align: justify;
    max-height: calc(1.6em * 3); /* Giới hạn chiều cao dựa trên số dòng */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Giới hạn số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden; /* Ẩn phần nội dung thừa */
    text-overflow: ellipsis; /* Thêm dấu "..." khi bị ẩn */
    line-height: 1.5; /* Khoảng cách giữa các dòng */
    cursor: pointer;

    &.expanded {
        -webkit-line-clamp: unset; /* Khi mở rộng, bỏ giới hạn dòng */
        white-space: normal;
        overflow: visible;
        max-height: none; /* Bỏ giới hạn chiều cao */
        height: auto; /* Đặt chiều cao tự động để ôm hết nội dung */
    }

    &:hover {
        scale: 1.003;
        background: rgba(22, 24, 35, 0.03);
    }
}

.timeline-section {
    width: 100%;
    max-width: 100vw;
    min-height: 300px;
    margin: 10px 0;
    box-sizing: border-box;
}

.add-first-node {
    margin-left: 10px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
    transform-origin: left center;

    &:hover {
        transform: scale(1.1);

        .add-text {
            text-decoration: underline;
        }
    }

    &:active {
        transform: scale(0.9);
    }
}

.chat-section {
    height: calc(100vh - 60px);
    width: 350px;
    border-left: 1px solid var(--gray-color);
}