.level-two {
    width: calc(100% - 28px);
    border-top: 1px solid var(--gray-color);
    margin-left: 28px;
    transition: background-color 0.2s ease;

    &.dragging {
        background-color: var(--gray-color);
    }

    &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 45px;
        background-color: var(--main-color);
    }
}

.show-section {
    display: flex;
    padding: 10px 0 10px 20px;
    cursor: pointer;
    transition: margin-bottom 0.5s ease;

    &:hover {
        background-color: var(--gray-color);
        .tick {
            transform: scale(1.05);
        }
    }

    &:active .tick {
        transform: scale(0.9);
    }
}

.ticked,
.tick {
    height: var(--icon-size);
    width: var(--icon-size);
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.ticked {
    color: var(--main-color);
}

.content,
.content-edited {
    color: black;
    margin-left: 10px;
    font-size: 1.4rem;
}

.content {
    font-weight: 600;
    transition: transform 0.2s ease;

    &:hover {
        text-decoration: underline;
        color: var(--main-color);
    }
}

.due-time {
    font-weight: 400;
    color: #666666;
    font-size: 1.3rem;
    align-self: center;
    background: transparent;
    text-align: end;
}

.update-node {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
}

.rewrite-node {
    &:hover {
        scale: 1.4;
    }
}

.delete-node {
    color: var(--color-red);
}

.delete-node,
.rewrite-node {
    margin-left: 7px;
}

.rewrite-node,
.delete-node {
    padding: 5px;
    scale: 1.2;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        scale: 1.4;
        background-color: var(--gray-color);
    }

    &:active {
        scale: 0.9;
    }
}

.hidden-section {
    position: relative;
    padding: 5px 20px 10px;
    max-height: 100px;
    border-top: 1px solid var(--gray-color);

    &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 37px;
        top: 0px;
        left: 0px;
        background-color: var(--main-color);
    }
}

.same-level,
.child-level-check,
.child-level-radio {
    height: 17px;
    width: 17px;
    color: rgba(22, 24, 35, 0.5);
    transition: transform 0.3s ease-in;

    &:hover {
        transform: scale(1.1);
    }
    &:active {
        scale: 0.8;
    }
}
