.container {
    cursor: pointer;
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 15px;
    margin: 7px;
    background-image: linear-gradient(200deg, var(--main-color), var(--side-color));
    border: 1.5px solid #000000;
    transition: var(--transform);

    &:hover {
        transform: scale(1.01);
        color: rgba(22, 24, 35, 0.7);
    }
}

.roadmap-pic {
    height: 162px;
    width: calc(var(--card-width) - 16px);
    border-radius: 15px;
    object-fit: cover;
    align-items: center;
    margin: 8px 8px 0 8px;
}

.title {
    font-size: 2rem;
    margin: 0 8px;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content {
    width: calc(var(--card-width) - 13px);
    height: 36px;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 8px;
    padding: 0 5px;

    /* Thuộc tính cho text overflow */
    display: -webkit-box; /* Sử dụng box model */
    -webkit-box-orient: vertical; /* Định hướng theo chiều dọc */
    overflow: hidden; /* Ẩn phần bị tràn */
    -webkit-line-clamp: 2; /* Giới hạn tối đa 3 dòng */
    line-clamp: 3; /* Cách này chỉ hoạt động trên một số trình duyệt nhất định */
}
.below {
    display: flex;
    height: 32px;
    width: 100%;
    align-items: center;
}

.progress-btn {
    width: 87px;
    height: var(--icon-size);
    border-radius: 15px;
    display: flex;
    margin: 5px 5px 5px 10px;
    background-color: transparent;
    border: 1.5px solid #6580eb;
    padding: 0;
    justify-content: center;
    align-items: center;
    transition: var(--transform);
}

.progress-title,
.bolt-icon {
    align-items: center;
    scale: 0.9;
    margin: 2px 0;
}

.bolt-icon {
    margin-left: 2px;
    color: #65EB82;
}

.progress-title {
    font-weight: 500;
    color: black;
}

.clone-num {
    height: var(--icon-size);
    margin: 3px 0;
    margin-left: auto;
    font-size: 1.2rem;
    align-items: end;
}

.usergroup-icon {
    margin-top: 5px;
    margin-right: 8px;
}

.num {
    margin-right: 3px;
}

//add-timeline
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    position: relative;

    .close-btn {
        margin: 10px 10px 0 0;
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        width: auto;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #333;
        z-index: 1;
        padding: 0;

        &:hover {
            color: red;
        }
    }
}
.form-name {
    display: block;
    line-height: 30px;
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 8px;

    label {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 14px;
        width: auto;
        line-height: 24px;
    }

    input,
    textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    textarea {
        line-height: 1.5;
        resize: none;
        height: calc(3 * 1.6rem * 1.5) ;
    }
}

.description {
}

.button-group {
    padding: 10px 10px 0 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cancel-btn,
.create-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-btn {
    background: #ccc;
}

.create-btn {
    background: var(--main-color);
    color: white;
}

.create-btn:disabled {
    background: #9e9e9e;
    cursor: not-allowed;
}
