.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.header {
    z-index: 1000; 
    margin-left: 200px;
    height: 60px;
    padding: 0;
    background-image: linear-gradient(40deg, #e5e5e5, #8a9adb, #6580eb);
    position: fixed;
    flex: 1;
    box-shadow: rgb(0 0 0 /12%) 0px 2px 12px;
    width: calc(100% - 200px);

    &.collapsed {
        width: calc(100% - 80px);
        margin-left: 80px;
    }
}

.sidebar {
    height: 100vh;
    background-color: #ffffff;
    flex-direction: column;
    position: fixed;
    transition: transform 0.3 ease-in;
}

.content {
    background-color: #ffffff;
    margin-top: 55px;
    width: calc(100% - 200px);
    margin-left: 200px;
    // width: calc(100%);
    
    &.collapsed {
        width: calc(100%);
        margin-left: 80px;
    }
}

.page-title {
    margin: 10px 0 0 10px;
    font-size: 1.8rem;
    text-decoration: underline;
    text-decoration-color: rgb(145, 145, 145);
    text-decoration-thickness: 2px;
}

.container {
    display: flex;
    flex-wrap: wrap
}
