.wrapper {
    height: 46px;
    width: 400px;
    background-color: #ECE6E6;
    filter: drop-shadow();
    display: flex;
    align-items: center;
}
.search {

}
.search-btn {
    padding: 0 0;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    stroke: ;
}