.menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s;
    line-height: 1.35;

    &:hover {
        background-color: #f0f0f0;
    }

    .icon {
        margin-right: 10px;
        font-size: 18px;
    }

    .title {
        font-size: 16px;
        flex: 1;
        color: #333;
    }
}
