:root {
    --icon-size: 22px;
}
.wrapper {
    width: 100%;
    margin: 0 0 0 20px;
}

.title {
    display: flex;
    font-size: 1rem;
}

.title-text {
    font-weight: 500;
}

.title-count {
    margin-left: 8px;
    color: var(--gray-color);
    font-weight: 500;
}

.write-cmt-section {
    margin-top: 10px;
    display: flex;
}

.avatar {
    height: var(--avatar-size);
    width: var(--avatar-size);
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

.write-cmt {
    height: calc(var(--avatar-size) * 2);
    width: 60%;
    margin-right: 10px;
    padding: 5px;
    font-size: 1.5rem;
}

.send-icon {
    height: var(--icon-size);
    width: var(--icon-size);
    align-self: center;
    padding: 6px;
    border-radius: 50%;
    transition: transform 0.3 ease-in;
    color: var(--main-color);

    &:hover {
        scale: 1.1;
    }

    &:active {
        scale: 0.95;
        background-color: var(--gray-color);
    }
}
