.wrapper {
    height: auto;
    width: 100%;
    display: flex;
    padding: 5px;
    transform: translateX(100%);
    animation: slide-in 0.5s ease-in-out forwards;

    &:hover {
        background-color: rgba(101, 128, 235, 0.15);
    }
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.avatar {
    margin-top: 5px;
    height: var(--avatar-size);
    width: var(--avatar-size);
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.send-info {
    flex: 1;
    padding-left: 5px;
    max-width: calc(100% - var(--avatar-size)); /* Điều chỉnh độ rộng theo kích thước avatar */
}

.sender-infor {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.username {
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
        color: var(--main-color);
        text-decoration: underline;
    }
}

.date-send {
    margin-right: 5px;
    color: #727272;
    margin-left: 5px;
}

.content {
    white-space: normal; /* Cho phép xuống dòng */
    word-wrap: break-word; /* Ngắt từ nếu quá dài */
    max-width: 100%; /* Đảm bảo độ rộng không vượt quá vùng cha */
    text-align: justify;
}
